.mainWrapp {
  text-align: center;
  display: grid;
  width: 1375px;
  margin: 0 auto;

  grid-template-areas: "h h h"
  "b c r";

  grid-template-rows: 250px 1fr;
  grid-template-columns: 2fr 10fr 2fr;

}
.mainHead {
  grid-area: h;
  background-color: lightcoral;
}
.mainSidebar {
  grid-area: b;
  background-color: #61dafb;
  padding: 15px;
}

.mainBody{
  grid-area: c;
  background-color: dodgerblue;
}

.mainRighbar {
  grid-area: r;
  background-color: yellowgreen;
}